<p>Index works!</p>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price | currency }}</td>
      <td>{{ product.quantity }}</td>
      <td>
        <button
          type="button"
          class="btn btn-default"
          (click)="edit(product.id)"
        >
          Edit
        </button>
        |
        <button
          type="button"
          class="btn btn-default"
          (click)="delete(product.id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
